[init]
	defaultBranch = main
[push]
	default = simple
	autoSetupRemote = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	ff = false
	conflictstyle = zdiff3
[pull]
	rebase = merges
[fetch]
	prune = true
[rerere]
	enabled = true
	autoupdate = true
[diff]
	colorMoved = default
[commit]
	template = ~/.gitmessage
	gpgsign = true
	verbose = true
[includeIf "gitdir:~/workspace/"]
	path = ~/.gitconfig-lm
[credential "https://github.com"]
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/env gh auth git-credential
[include]
    path = ~/.gitconfig-user
